<!--/* 
This top section is not exported as a part of the Narrative,
it is only present so that this template can be viewed in 
a browser. 
-->
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="narrative.css"/>
	</head>
	<body>
<!--*/-->

<div>
	<table class="hapiPropertyTable">
		<tbody>
			<tr th:if="${resource.code}">
				<td>Code</td>
				<td th:narrative="${resource.code}"></td>
			</tr>
			<tr th:if="${resource.dateRecorded}">
				<td>Date Recorded</td>
				<td th:text="${resource.dateRecorded.toString()}"></td>
			</tr>
			<tr th:if="${resource.category}">
				<td>Category</td>
				<td th:narrative="${resource.category}"></td>
			</tr>
			<tr th:if="${resource.clinicalStatus}">
				<td>Clinical Status</td>
				<td th:narrative="${resource.clinicalStatusElement}"></td>
			</tr>
			<tr th:if="${resource.onset}">
				<td>Onset</td>
				<td th:narrative="${resource.onset}"></td>
			</tr>			
		</tbody>
	</table>
</div>

<!--/*-->
	</body>
</html>
<!--*/-->
