<!--/* 
This top section is not exported as a part of the Narrative,
it is only present so that this template can be viewed in 
a browser. 
-->
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="narrative.css"/>
	</head>
	<body>
<!--*/-->

<div>
	<table class="hapiPropertyTable">
		<tbody>
			<tr th:if="${resource.vaccineCode}">
				<td>Vaccine Code</td>
				<td th:narrative="${resource.vaccineCode}"></td>
			</tr>
			<tr th:if="${resource.date}">
				<td>Date (Vaccine Administered)</td>
				<td th:text="${resource.date.toString()}"></td>
			</tr>
			<tr th:if="${resource.notGiven}">
				<td>Not Given</td>
				<td>True</td>
			</tr>
			<tr th:if="${resource.route}">
				<td>Route</td>
				<td th:narrative="${resource.route}"></td>
			</tr>
			<tr th:if="${resource.doseQuantity}">
				<td>Dose</td>
				<td th:narrative="${resource.doseQuantity}"></td>
			</tr>
		</tbody>
	</table>
</div>

<!--/*-->
	</body>
</html>
<!--*/-->
