<!--/* 
This top section is not exported as a part of the Narrative,
it is only present so that this template can be viewed in 
a browser. 
-->
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="narrative.css"/>
	</head>
	<body>
<!--*/-->

<div>
<span th:if="${resource.wasNotTaken}" th:text="'Medication was not taken'"></span>
	<table class="hapiPropertyTable">
		<tbody>	
			<tr th:if="${resource.wasNotTaken} and ${not resource.reasonNotTaken.empty}">
				<td>Reason Not Taken</td>
				<td th:text="${resource.reasonNotTaken}"></td>
			</tr>
			<tr th:if="${resource.effective}">
				<td>Period</td>
				<td th:narrative="${resource.effective}"></td>
			</tr>
		</tbody>
	</table>
	<div th:if="${resource.dosage} and ${not resource.dosage.empty}">
	<table class="hapiPropertyTable" th:each="dosage: ${resource.dosage}">
		<tbody>
			<tr>
				<th th:text="Dosage"></th>
			</tr>
			<tr th:if="${dosage.timing}">
				<td>Timing</td>
				<td th:narrative="${dosage.timing}"></td>
			</tr>
			<tr th:if="${dosage.site}">
				<td>Body Site</td>
				<td th:narrative="${dosage.site}"></td>
			</tr>
			<tr th:if="${dosage.route}">
				<td>Route</td>
				<td th:narrative="${dosage.route}"></td>
			</tr>
			<tr th:if="${dosage.quantity}">
				<td>Quantity</td>
				<td th:narrative="${dosage.quantity}"></td>
			</tr>
			<tr th:if="${dosage.rate}">
				<td>Rate</td>
				<td th:narrative="${dosage.rate}"></td>
			</tr>
			<tr th:if="${dosage.maxDosePerPeriod} and ${not dosage.maxDosePerPeriod.empty}">
				<td>Max Dose per Period</td>
				<td th:narrative="${dosage.maxDosePerPeriod}"></td>
			</tr>
		</tbody>
	</table>
	</div>
</div>

<!--/*-->
	</body>
</html>
<!--*/-->
