<!--/* 
This top section is not exported as a part of the Narrative,
it is only present so that this template can be viewed in 
a browser. 
-->
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="narrative.css"/>
	</head>
	<body>
<!--*/-->

<div>
	<table class="hapiPropertyTable">
		<tbody>
			<tr th:if="${not resource.identifier.empty}">
				<td>Identifier</td>
				<td th:narrative="${resource.identifier[0]}"></td>
			</tr>
			<tr th:if="${resource.category}">
				<td>Category</td>
				<td th:narrative="${resource.category}"></td>
			</tr>
			<tr th:if="${resource.code}">
				<td>Code</td>
				<td th:narrative="${resource.code}"></td>
			</tr>
			<tr th:if="${resource.effective}">
				<td>Date/Period</td>
				<td th:narrative="${resource.effective}"></td>
			</tr>
		</tbody>
	</table>
</div>

<!--/*-->
	</body>
</html>
<!--*/-->
